<div class="modal">
    <div class="modal-content">
      <h2>Crear Material</h2>
      <form >
        <table>
            <tr>
                <td><label for="code">Codigo</label></td>
                <td><input type="number" name="code" [(ngModel)]="formulario.code"></td>
            </tr>
            <tr>
                <td><label for="name">Nombre</label></td>
                <td><input type="text" name="name" [(ngModel)]="formulario.name"></td>
            </tr>
            <tr>
                <td><label for="area">Area</label></td>
                <td><input type="text" name="area" [(ngModel)]="formulario.area"></td>
            </tr>
            <tr>
                <td><label for="hierarchy">Gerarquia</label></td>
                <td><input type="text" name="hierarchy" [(ngModel)]="formulario.hierarchy"></td>
            </tr>
            <tr>
                <td><label for="unit">Unidad de medida</label></td>
                <td><select name="unit" [(ngModel)]="formulario.unit">
                    <option disabled selected="" [value]="null">Seleccione una opción</option>
                    <option *ngFor="let item of units" [value]="item">
                        {{getnames.get(item)}}
                    </option>
                </select> </td>
            </tr>
            <tr>
                <td><label for="unirPrice">Precio por unidad</label></td>
                <td><input type="number" name="unirPrice" [(ngModel)]="formulario.unirPrice"></td>
            </tr>
        </table>
      </form>
      <div class="modal-buttons">
        <input type="button" class="Deletebutton" (click)="cancelar()" value="Cancelar">
        <input type="button" class="successButton" (click)="guardar()" value="Guardar">
      </div>
    </div>
  </div>
  