<div class="MaterialContainer">
  <h1 class="MaterialTitle">Lista de Materiales</h1>
  <hr>
  <div class="addButtonMateria">
    <input type="button" id="botonAgregar" name="add" value="Agregar datos" (click)="showModal(true)">
  </div>
  <div class="tableContainer">
    <table class="TableData">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Material</th>
          <th>Unidad de medida</th>
          <th>Precio por unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of materials">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{getNameUnit.get(item.unit)}}</td>
          <td>${{item.unirPrice}}</td>
          <td class="ButtonsActions">
            <input type="button" class="UpdateButton" value="Editar">
            <input class="Deletebutton" type="button" value="Eliminar" (click)="showConfirmationModal(item.id)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modalShow" *ngIf="IsModalShow">
    <cfe-create-materail-modal (cancelarClick)="showModal($event)"
      (guardarClick)="createMateria($event)"></cfe-create-materail-modal>
  </div>
  <div class="modalShow" *ngIf="showConfirmation">
    <cfe-confirm-modal (cancelEvent)="cancelDelete()" (confirmEvent)="deleteMateria(idDelete)"></cfe-confirm-modal>
  </div>
  <div class="Spin" *ngIf="isLoading">
    <cfe-spinner></cfe-spinner>
  </div>

</div>