<div class="bodyContainer">
    <div class="SectionL">
        <div class="formSection">
            <div class="Tittle">
                <h4>Información</h4>
                <p>Agregue los datos que se solicitan para llenar la tabla.</p>
            </div>

            <form class="FormCalc">
                <table>
                    <br>
                    <tr>
                        <td><label for="Number">Número:</label></td>
                        <td><input id="Number" type="number" name="number" [(ngModel)]="calcInfo.number" required></td>
                    </tr>
                    <tr>
                        <td><label for="Year">Año: </label></td>
                        <td>
                            <select id="Year" name="Year" [(ngModel)]="calcInfo.year">
                                <option disabled selected="">Seleccione el año</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                                <option>2028</option>
                                <option>2029</option>
                                <option>2030</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Name">Nombre: </label></td>
                        <td><input id="Name" name="name" type="text" [(ngModel)]="calcInfo.name"></td>
                    </tr>
                    <tr>
                        <td><label for="description">Descripción: </label></td>
                        <td><textarea id="description" rows="5" cols="21" [(ngModel)]="calcInfo.description"
                                name="descripcion"
                                placeholder="Escriba su descripción aquí."></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="Voltage">Voltaje: </label></td>
                        <td>
                            <select id="Voltage" [(ngModel)]="calcInfo.voltage" name="voltage">
                                <option disabled selected="">Seleccione el voltaje</option>
                                <option>13</option>
                                <option>33</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="SemiIsolsted">Semiaislado: </label></td>
                        <td>
                            <select id="SemiIsolsted" [(ngModel)]="calcInfo.semiisolated" name="semiisolated">
                                <option disabled selected="" [value]="null">Seleccione una opción</option>
                                <option [value]="true">Si</option>
                                <option [value]="false">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Heavy">Pesado: </label></td>
                        <td>
                            <select id="Heavy" [(ngModel)]="calcInfo.heavy" name="heavy">
                                <option disabled selected="" [value]="null">Seleccione una opción</option>
                                <option [value]="true">Si</option>
                                <option [value]="false">No</option>
                            </select>

                        </td>
                    </tr>
                </table>
                <div class="AddDataButton">
                    <input type="button" id="botonAgregar" name="add" value="Agregar datos" (click)="onSubmit()"
                        class="">
                </div>
            </form>
            
            <br>

            <!-- Aqui se selccionan los dispositivos -->
            <label>Dispositivos: </label><select name="selecDispo" id="selectDevice"
                onchange="addDevice(this.value)"><br>
                <option disabled selected="" hidden>Seleccione un Dispositivo</option>
                <optgroup label="Media Tension">
                    <option>Primero</option>
                    <option>Segundo</option>
                    <option>Tercero</option>
                <optgroup label="Baja Tensión">
                    <option>Primero2</option>
                    <option>Segundo2</option>
                    <option>Tercero2</option>
            </select>
        </div>
    </div>
    <div class="SectionR">
        <div>
            <div class="Tittle" style="width: 500px;">
                <h4>Información</h4>
                <p>La informacion agragada se verá reflejada en la siguiente tabla, los datos pueden ser editados o
                    eliminados.</p>
            </div>
            <br>
            <!-- Aqui se crea la tabla principal -->
            <table id="tbl" class="TableData" *ngIf="showTableData">

                <thead>
                    <tr>
                        <th colspan="2">Cálculo de material.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Numero</td>
                        <td >{{calcInfo.number}}</td>
                    </tr>
                    <tr>
                        <td >Nombre</td>
                        <td >{{calcInfo.name}}</td>
                    </tr>
                    <tr>
                        <td >Descripción</td>
                        <td >{{calcInfo.description}}</td>
                    </tr>
                    <tr>
                        <td >Año</td>
                        <td >{{calcInfo.year}}</td>
                    </tr>
                    <tr>
                        <td >Voltaje</td>
                        <td >{{calcInfo.voltage}}</td>
                    </tr>
                    <tr>
                        <td >Semiaislado</td>
                        <td >{{calcInfo.semiisolated}}</td>
                    </tr>
                    <tr>
                        <td >Pesado</td>
                        <td >{{calcInfo.heavy}}</td>
                    </tr>
                </tbody>
                <input type="button" name="button" id="excel_btn" value="Convertir a Excel"
                onclick="htmlTableToExcel('xlsx')" class="">
            </table>
        </div>
    </div>
</div>