<div class="Spin" *ngIf="isLoading">
    <cfe-spinner></cfe-spinner>
  </div>
<div class="bodyContent">
    <div class="SectionL" [style]="contenedorStyles1">
        <div class="contenedorL"[style]="contenedorStyles2">
            <div class="Tittle">
                <h4>Información</h4>
                <p>Seleccione los parámetros correspondientes al dispositivo y luego presione aceptar.</p>
            </div>
            <form action="">
                <table>
                    <tr>
                        <td>
                            <label>Voltaje: </label>
                        </td>
                        <td>
                            <select name="voltaje" style="width: 206px;">
                                <option disabled selected="">Seleccione el voltaje</option>
                                <option>13</option>
                                <option>33</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Semiaislado: </label>
                        </td>
                        <td>
                            <select name="semiAis">
                                <option disabled selected="">Seleccione una opción</option>
                                <option>Si</option>
                                <option>No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pesado: </label>
                        </td>
                        <td>
                            <select name="pesado">
                                <option disabled selected="">Seleccione una opción</option>
                                <option>Si</option>
                                <option>No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" id="botonAgregar" name="add" value="Aceptar" (click)="addData()"
                                class="successButton"></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Nombre del dispositivo: </label>
                        </td>
                        <td><input id="nombre" type="text" name="nombre"></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Material: </label>
                        </td>
                        <td><input id="nombre" type="text" name="nombre"></td>
                    </tr>
                    <tr>
                        <td><input type="button" id="botonAgregar" name="add" value="Agregar otro material"
                                onclick="addData();" class="successButton"></td>
                        <td><input class="successButton" type="button" value="Finalizar"></td>
                    </tr>

                </table>


            </form>
        </div>
    </div>
    <div class="SectionR">
        <div class="Eltutulo">
            <div class="Tittle">
                <h4>Información</h4>
                <p>En este apartado se pueden ingresar, agregar y editar los dispositivos (estructuras) y sus
                    respectivos
                    materiales.</p>
            </div>

            <div>
                <input class="successButton" type="button" id="botonAgregar" name="add" value="Agregar dispositivo"
                    (click)="addData()">
            </div>
        </div>
        <div class="tablaDatos" *ngIf="!iscreate">
            <!-- Aqui se crea la tabla principal -->
            <table class="TableData">
                <thead>
                    <th>Nombre del dispositivo</th>
                    <th>Voltaje</th>
                    <th>pesado</th>
                    <th>semi aislado</th>
                    <th>Cantidad de material</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of devices">
                        <td>{{item.name}}</td>
                        <td>{{item.voltage}}</td>
                        <td>{{item.isHeavy}}</td>
                        <td>{{item.isSemiInsulated}}</td>
                        <td>{{item.materials.length}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="tablacrear" *ngIf="iscreate">
            <thead>
                <th>Nombre del dispositivo</th>
                <th>Voltaje</th>
                <th>pesado</th>
                <th>semi aislado</th>
                <th>Cantidad de material</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of devices">
                    <td>{{item.name}}</td>
                    <td>{{item.voltage}}</td>
                    <td>{{item.isHeavy}}</td>
                    <td>{{item.isSemiInsulated}}</td>
                    <td>{{item.materials.length}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>